<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
	<head>
        <div th:replace="~{fragments/header :: headerFragment}"></div>
        <!-- automatically will redirect to /login after 2 seconds -->
        <meta http-equiv="refresh" content="2;url=/login" />
        <meta name="description" content="Cartel - Log out Page">
        <title>Cartel - Log out Page</title>
	</head>
    <body>
        <div class="container theme-showcase" role="main">
            <div style="display: flex; justify-content: center; align-items: center; height: 50vh;">
                <img src="/images/Cartel.png" class="img-rounded" alt="Cartel Logo" style="width: 200px; height: 200px;">
            </div>
            <div class="successmessage" style="font-size: 18px;" role="alert">Logout Successful!</div>
        </div>
    </body>
</html>
