<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html>
    <div th:fragment="navbarFragment">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="/browse-products">
                        <img src="images/Cartel.png" width="125px">
                    </a>
                </div>
                <!-- Hamburger menu for mobile -->
                <div class="hamburger-menu" onclick="toggleMobileMenu()">
                    &#9776; <!-- Hamburger icon -->
                </div>
    
                <nav>
                    <ul class="MenuItems">
                        <div class="menu-items-home-about">
                            <li><a href="/browse-products">Home</a></li>
                            <li><a href="/about">About</a></li>
                        </div>
                        <li>
                            <button style="font-family: 'Times New Roman', Times, serif; font-size: 16px;" class="dropbtn btnCart btnLogIn" onclick="showCategoriesDropdown()">
                                Categories <i class="fa fa-caret-down"></i>
                            </button>
                            <div id="categoriesDropDown" class="dropdown-content">
                                <!-- ALL LINKS WILL GO -->
                                <a href="browse-products.jsp?category=Bathroom">Bathroom</a>
                                <a href="browse-products.jsp?category=CleaningSupplies">Cleaning Supplies</a>
                                <a href="browse-products.jsp?category=FoodSupplies">Food Supplies</a>
                                <a href="browse-products.jsp?category=Kitchen">Kitchen</a>
                                <a href="browse-products.jsp?category=Furniture">Furniture</a>
                                <a href="browse-products.jsp?category=OfficeEquipment">Office Equipment</a>
                                <a href="browse-products.jsp?category=Stationary">Stationary</a>
                                <a href="browse-products.jsp?category=Hardware">Hardware</a>
                                <a href="browse-products.jsp?category=PackagingMaterials">Packaging Materials</a>
                                <a href="browse-products.jsp?category=Tools">Tools</a>
                                <a href="browse-products.jsp?category=Lighting">Lighting</a>
                            </div>
                        </li>
                        
                        <li th:if="${user != null}"> <!-- check "z-index:" !!! -->
                            <button style="font-family: 'Times New Roman', Times, serif; 
                                            font-size: 16px;" 
                                    class="dropbtn btnCart btnLogIn" 
                                    onclick="showAccountDropdown()">
                                <!-- Username IS THE TEXT ON THE BUTTON -->
                                Username<!-- th:text="${user.getUsername()}" -->
                                <!-- Dropdown Icon -->
                                <i class="fa fa-caret-down"></i>
                            </button>
    
                            <div id="accountDropDown" class="dropdown-content">
                                <a href="/profile">Profile</a>
                                <a href="/full-orders-history">Orders</a>
                                <a href="/my-products">Products</a> <!-- ONLY THIS WILL WORK -->
                            </div>
                        </li>
                        <li th:if="${user != null}"> <!-- not sure... -->
                            <a class="btnCart btnLogIn" href="/logout"><i class="fa fa-sign-out"></i> Log out</a>
                        </li>
                       
                        <li th:if="${user == null}">
                            <a class="btnCart btnLogIn" href="/login"><i class="fa fa-sign-in"></i> Join Cartel</a>
                        </li>
    
                        <li><a href="/cart" class="btnCart"><img src="images/shopping_cart.png" width="20px" height="20px"></a>
                    </ul> <!-- end of Menu Items -->
                </nav>
            </div> <!-- end of navbar -->
        </div> <!-- end of container -->
    </div> <!-- end of navbarFragment-->
</html>