<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/header :: headerFragment}"></div>
    <title>Login/Register - Cartel</title>
</head>

<body>
    <div th:replace="~{fragments/navbar :: navbarFragment}"></div>

    <!-- Alert Danger DB ERROR -->
    <div th:if="${dbError}" class="errormessage" role="alert" th:text="${session.error}">
        Username, Email or SSN already exists!
    </div>

    <!--account page-->
    <div class="account-page">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <img src="/images/Cartel.png" width="100%">
                </div>
                <div class="col-2">
                    <div class="form-container">
                        <div class="form-btn">
                            <span onclick="register()">Register</span>
                            <span onclick="login()">Login</span>
                            <hr id="regIndicator">
                        </div>
                        <form id="regLoginForm" action="/login/controller" method="POST">
                            <input type="text" name="login_username" placeholder="Username">
                            <input type="password" name="login_password" placeholder="Password">
                            <button type="submit" class="btn">Login</button>
                            <a href="#didyoureallythinkthiswouldwork?">Forgot password</a>
                            <div class="help"><strong>Help:</strong>
                                <ul>
                                    <li>For Luxe Loom: luxeloom 1111</li>
                                    <li>For Paper Charm: paperCharm 2222</li>
                                </ul>
                            </div>
                        </form>

                        <!-- if there is at least one error in the Register Form -->
                        <form id="regRegForm" action="/register/controller" method="POST">

                        <!-- for (String field : fields) { -->
                            <div th:each="field : ${fields}">
                                
                            <!-- if (field == "conditions") { -->
                                <div th:if="${field == 'conditions'}">
                                    <!-- if (!conditionsMap.get(field)) { -->
                                    <div th:if="${conditionsMap.get(field) == false}">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" id="conditions" value="on" name="conditions">I agree to the terms and conditions
                                        </label>
                                        <p class="register-error">You must agree to terms and conditions</p>
                                    </div>
                                    <!-- } else { -->
                                    <div th:if="${conditionsMap.get(field) == true}">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" id="conditions" value="on" name="conditions" checked>I agree to the terms and conditions
                                        </label>
                                    </div>
                                    <!-- } end of embedded if -->
                                </div>

                            <!-- } else { -->
                                <!-- if (!conditionsMap.get(field)) { -->
                                <div th:if="${field != 'conditions' && conditionsMap.get(field) == false}">
                                    <input th:type="${types.get(field)}" th:name="${names.get(field)}" th:placeholder="${placeholders.get(field)}">
                                    <p class="register-error" th:text="${errMessages.get(field)}">Error!!</p>
                                </div>

                                <!-- } else { -->

                                <input th:if="${field != 'conditions' && conditionsMap.get(field) == true}" 
                                    th:type="${types.get(field)}" th:name="${names.get(field)}" th:value="${values.get(field)}">

                                <!-- } end of embedded if -->
                            <!-- } end of if statement -->

                            </div>
                        <!-- } end of for loop-->

                            <button type="submit" class="btn">Register</button>
                        </form>
                    </div> <!--/form-container-->
                </div> <!--/col-2-->
            </div> <!--/row-->
        </div> <!--/container-->
    </div> <!--/account-page-->
    
    <div th:replace="~{fragments/footer :: footerFragment}"></div>
    
    <script>

        var regLoginForm = document.getElementById("regLoginForm");
        var regRegForm = document.getElementById("regRegForm");
        var regIndicator = document.getElementById("regIndicator");
        
        function register(){
            regLoginForm.style.transform = "translateX(400px)";
            regRegForm.style.transform = "translateX(0px)";
            regIndicator.style.transform = "translateX(0px)";
        }
        function login(){
            regLoginForm.style.transform = "translateX(0px)";
            regRegForm.style.transform = "translateX(-400px)";
            regIndicator.style.transform = "translateX(100px)";
        }

    </script>
</body>
</html>